{% extends 'food/base.html' %}

{% block body %}

<br><br>

{% for i in food_list %}

<br><br>

<div class="row">

    <div class="col-md-3 offset-md-2">

        <img class="img-fluid rounded"
             src="{{ i.image }}"
             style="width:200px;
                    height:150px;
                    object-fit:cover;">

    </div>

    <div class="col-md-5">

        <h4>{{ i.dish }}</h4>

        <h5>$ {{ i.price }}</h5>
        
        <h6>posted by : {{i.user_name}} </h6>

    </div>

    <div class="col-md-2">

        <a href="{% url 'food:Food_Detail' i.id %}"
           class="btn btn-success">
           Details
        </a>

    </div>

</div>

{% endfor %}

{% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food List</title>

</head>
<body>
    #block body
    <br><br>
    {%for i in Food_List%}
    <br><br>
    <div class="row">
        <div class="col-md-3  offset-md-2">
            <img class="img-fluid rounded"
     src="{{ i.image }}"
     style="width:200px; height:150px; object-fit:cover;">
        </div>
        <div class="col-md-5">
            <h4>{{i.dish}}</h4>
            <h5>$ {{i.price}}</h5>
        </div>
        <div class="col-md-2">
            <a href="{% url 'food:Food_details' i.dish %}" class="btn btn-success">Details</a>
        </div>
    </div>
    {%endfor%}
    #block body end
    
    

    
</body>
</html>-->
