{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food List</title>

</head>
<body>
    {% block body %}
    {%for i in Food_List%}
    <div class="row">
        <div class="col-md-3  offset-md-2">
            <img class="img-fluid rounded"
     src="{{ i.image }}"
     style="width:200px; height:150px; object-fit:cover;">
        </div>
        <div class="col-md-5">
            <h4>{{i.dish}}</h4>
            <h5>{{i.ingrediant}}</h5>
            <h6>{{i.price}}</h6>
        </div>
    </div>
    {%endfor%}
    {% endblock %}
    
    

    
</body>
</html>